<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.paxet.buscabobby"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SeguimientoActivity" />
		<activity android:name=".MapaActivity" />
		<activity android:name=".EventosActivity" />
		<activity android:name=".AcercaDeActivity" android:theme="@android:style/Theme.Holo.Light.Dialog" android:label="@string/acercade_titulo"/>
		<activity android:name=".NuevoGeocacheActivity" android:theme="@android:style/Theme.Holo.Light.Dialog" android:label="@string/nuevo_titulo"/>
		<activity android:name=".MarcaLocalizadoActivity" android:theme="@android:style/Theme.Holo.Light.Dialog" android:label="@string/marcarloc_titulo"/>
		<activity android:name=".PreferenciasActivity" />
		<uses-library android:name="com.google.android.maps"/>
    </application>

</manifest>